* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #222222;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
}